*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
    background-image: url(https://qqlykm.cn/bing/bing.php);
}
div{
	color: white;
	font-weight: 900;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	width: 2rem;
}